{% load static %}

<footer class="footer-big">
  <div class="container">
    <div class="footer-widgets-holder">
      <div class="footer-widgets">
        <div class="footer-widget-inner fwinner">
          <div class="quote-widget">
            <h3>Quote widget</h3>
            <p>" Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc. "</p>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Recent posts</h3>
            <div class="recent-post-widget">
              <ul>
                <li>
                  <div class="recent-post-img"><a href="#"><img src="{% static 'images/instagram/1.jpg' %}" alt=""></a></div>
                  <div class="recent-post-content">
                    <h4><a href="#">Snowy Mountains Trip</a></h4>
                    <div class="recent-post-opt">
                      <span class="post-date">3 May 2016</span>
                      <a href="#" class="post-comments">0 Comments</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="recent-post-img"><a href="#"><img src="{% static 'images/instagram/2.jpg' %}" alt=""></a></div>
                  <div class="recent-post-content">
                    <h4><a href="#">Snowy Mountains Trip</a></h4>
                    <div class="recent-post-opt">
                      <span class="post-date">3 May 2016</span>
                      <a href="#" class="post-comments">0 Comments</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Last comments</h3>
            <div class="comment-widget">
              <ul class="comm-list">
                <li>
                  <span class="comm-date">17 May 2016</span>
                  <p>At tincidunt erat hendrerit. Vestibulum ultrices ipsum id</p>
                  <div class="commnet-link">By Markus on <a href="#" class="comment-link">Post with slider</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Our instagram</h3>
            <div class="jr-insta-thumb">
              <ul>
                <li><a href="#"><img src="{% static 'images/instagram/1.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/2.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/3.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/4.jpg' %}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .footer-widgets -->
    </div>
  </div>

  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright">
            <span>© Spring book 2016.</span> Всі права захищено
          </div>
        </div>
        <div class="col-md-6">
          <ul class="sub-footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
