{% load static %}
{% load custom_filters %}


  <div class="subscribe-wrap fw-wrap">
      <div class="bg"  data-bg="{% static 'images/dec/1.jpg' %}"></div>
      <div class="container">
          <h3 class="content-title">Subscribe</h3>
          <span class="separator gray-separator small-separator no-align-separator"></span>
          <p class="notify-sub">Get the lastest news and updates from SpringBook</p>
          <form  class="mc4wp-form" method="post">
              <input type="email"  class="mc4wp_email" name="EMAIL" placeholder="Your email address" required>
              <input type="submit" class="mc4wp_submit" value="Subscribe On Updates">
          </form>
      </div>
  </div>
<footer class="footer-big">
  <div class="container">
    <div class="footer-widgets-holder">
      <div class="footer-widgets">
        <div class="footer-widget-inner fwinner">
          <div class="quote-widget">
            <h3>Quote widget</h3>
            <p>" Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc. "</p>
          </div>
        </div>

        <!-- Resent post widget -->
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Recent posts</h3>
            <div class="recent-post-widget">
                <ul>
                    {% for post in recent_posts %}
                    <li>
                        <div class="recent-post-img">
                            <a href="{{ post.get_absolute_url }}">
                            <img src="{% post_image_or_placeholder post %}" alt=""></a>
                        </div>
                        <div class="recent-post-content">
                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                            <div class="recent-post-opt">
                                <span class="post-date">{{ post.published_date|date:"d M Y" }}</span>
                                <a href="#" class="post-comments">{{ post.comment_count }} Comments</a>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                        <li>No posts yet.</li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        <!--End resent post windget-->

        <!-- Last comment widget-->
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Last comments</h3>
            <div class="comment-widget">
              <ul class="comm-list">
                {% get_latest_comments as latest_comments %}
                {% for comment in latest_comments %}
                    <li>
                      <span class="comm-date">{{ comment.creation_date|date:"d M Y, H:i" }}</span>
                      <p>{{ comment.text|truncatechars:50 }}</p>
                      <div class="commnet-link">
                          By {{ comment.user|display_name }} on
                          <a href="{{ comment.post.get_absolute_url }}" class="comment-link">{{ comment.post.title }}</a>
                      </div>
                    </li>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <!-- End last comment widget-->

        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Our Gallery</h3>
            <div class="jr-insta-thumb">
              <ul>
                  {% latest_images as latest_images %}
                  {% for img in latest_images %}
                    <li><a href="{{ img.post.get_absolute_url }}">
                        <div class="square-thumb">
                            <img src="{{ img.image.url }}" alt="">
                        </div></a>
                    </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .footer-widgets -->
    </div>
  </div>

  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright">
            <span>© Course work 2025.</span> All rights reserved
          </div>
        </div>
        <div class="col-md-6">
          <ul class="sub-footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
