{% load static %}
  <div class="subscribe-wrap fw-wrap">
      <div class="bg"  data-bg="{% static 'images/dec/1.jpg' %}"></div>
      <div class="container">
          <h3 class="content-title">Subscribe</h3>
          <span class="separator gray-separator small-separator no-align-separator"></span>
          <p class="notify-sub">Get the lastest news and updates from SpringBook</p>
          <form  class="mc4wp-form" method="post">
              <input type="email"  class="mc4wp_email" name="EMAIL" placeholder="Your email address" required>
              <input type="submit" class="mc4wp_submit" value="Subscribe On Updates">
          </form>
      </div>
  </div>
<footer class="footer-big">
  <div class="container">
    <div class="footer-widgets-holder">
      <div class="footer-widgets">
        <div class="footer-widget-inner fwinner">
          <div class="quote-widget">
            <h3>Quote widget</h3>
            <p>" Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc. "</p>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Recent posts</h3>
            <div class="recent-post-widget">
                <ul>
                    {% for post in recent_posts %}
                    <li>
                        <div class="recent-post-img">
                            <a href="{{ post.get_absolute_url }}">
                            <img src="{{ post.images.first.image.url }}" alt=""></a>
                        </div>
                        <div class="recent-post-content">
                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                            <div class="recent-post-opt">
                                <span class="post-date">{{ post.published_date|date:"d M Y" }}</span>
                                <a href="index.html#" class="post-comments">0 Comments</a>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                        <li>No posts yet.</li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Last comments</h3>
            <div class="comment-widget">
              <ul class="comm-list">
                <li>
                  <span class="comm-date">17 May 2016</span>
                  <p>At tincidunt erat hendrerit. Vestibulum ultrices ipsum id</p>
                  <div class="commnet-link">By Markus on <a href="#" class="comment-link">Post with slider</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-widget-inner">
          <div class="footer-widget">
            <h3>Our instagram</h3>
            <div class="jr-insta-thumb">
              <ul>
                <li><a href="#"><img src="{% static 'images/instagram/1.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/2.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/3.jpg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/instagram/4.jpg' %}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .footer-widgets -->
    </div>
  </div>

  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright">
            <span>© Course work 2025.</span> All rights reserved
          </div>
        </div>
        <div class="col-md-6">
          <ul class="sub-footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
