{% load static %}

<header id="top-bar" class="dark-header">
<!--Top bar menu-->
  <div class="top-bar-info">
    <div class="container">
      <div class="top-bar-social fl-left">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
        </ul>
      </div>
      <ul class="top-bar-contacts fl-right">
        {% if user.is_authenticated %}
          <li>
            <span>
              Welcome{% if user.profile.nickname %} {{ user.profile.nickname }}{% endif %}
            </span>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}" class="tagcloud">My account</a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="tagcloud">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
<!--End top bar menu-->

<!--Main menu-->
  <div class="top-bar-menu-wrap">
      <div class="container">
          <span class="menubutton">Menu</span>
          <nav class="top-bar-menu" style="display: block;">
              <ul class="menu">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>

                  <li>
                      <a href="{% url 'post_list' %}">Posts</a>
                      <!--second level  -->
                      <ul>
                          <li><a href="post-single.html">Slider</a></li>
                          <li><a href="post-single2.html">Galley</a></li>
                          <li><a href="post-single3.html">Video</a></li>
                          <li><a href="post-single4.html">Image</a></li>
                          <li><a href="post-single5.html">Music</a></li>
                      </ul>
                      <!--second level end-->
                  </li>
                  <li>
                      <a href="index.html#">Category</a>
                      <!--second level end-->
                      <ul>
                          <li><a href="index.html#">Travel</a></li>
                          <li><a href="index.html#">Films</a></li>
                          <li><a href="index.html#">Outdoor</a></li>
                          <li><a href="index.html#">Photos</a></li>
                          <li><a href="index.html#">Lifestyle</a></li>
                      </ul>
                      <!--second level end-->
                  </li>
                  <li>
                      <a href="{ url 'gallery' }">Gallery</a>
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
          </nav>
          <div class="show-search show-fixed-search fl-right"><i class="fa fa-search"></i></div>
          <!-- search widget end -->
          <div class="sb-nav-button sh-hid-sb fl-right">
              <span></span><span></span><span></span>
          </div>
      </div>
  </div>
<!--End main menu-->
</header>
