{% extends "base.html" %}
{% load static %}

{% block title %}404{% endblock %}
{% block header %}Not Found{% endblock %}

{% block content %}
<div class="container">
    <div id="wrapper">
        <!-- hero wrap -->
        <div class="hero-wrap">
            <div class="hero-bg">
                <div class="bg" data-bg="{% static 'images/bg/12.jpg' %}" style="background-image: url(&quot;images/bg/12.jpg&quot;); transform: translate3d(0px, 0px, 0px);"></div>
                <div class="overlay"></div>
            </div>
            <div class="hero-inner">
                <div class="container">
                    <div class="logo-holder">
                        <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    </div>
                    <div class="error-wrap fl-wrap">
                        <span class="er-num">404</span>
                        <p>The page you are looking for has not been found. <br> Try to searching something else</p>
                        <form class="searchform" method="get">
                            <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <input type="button" value="Go to main page" onclick="window.location.href='{% url 'home' %}'" class="btn">
        </div>
        <!-- hero wrap end-->
    </div>
</div>

{% endblock %}
