{% extends "base.html" %}
{% load static %}

{% block title %}404{% endblock %}
{% block header %}Not Found{% endblock %}

{% block content %}
<body>
    <!--Loader-->
    <!--Loader end -->
    <!--================= main start ================-->
    <div id="main">
        <header id="top-bar" class="dark-header">
            <div class="top-bar-info">
                <div class="container">
                    <div class="top-bar-social fl-left">
                        <ul>
                            <li><a href="404.html#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                            <li><a href="404.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="404.html#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                            <li><a href="404.html#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="404.html#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <ul class="top-bar-contacts fl-right">
                        <li><span>Phone:</span><a href="404.html#">+7(111)123456789</a></li>
                        <li><span>Mail : </span><a href="404.html#">yourmail@domian.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="top-bar-menu-wrap">
                <div class="container">
                    <span class="menubutton">Menu</span>
                    <nav class="top-bar-menu">
                        <ul class="menu">
                            <li>
                                <a href="index.html">Home</a>
                                <!--second level -->
                                <ul>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index3.html">Full width slider</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index2.html">Carousel </a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index5.html">Backgroud Video + Textslider</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index10.html">Slideshow</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index11.html">Image + Carousel</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index12.html">Video + Carousel</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index13.html">Backgroud Video</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/index14.html">Image</a></li>
                                    <li>
                                        <a href="404.html#">Post layout</a>
                                        <!--third level -->
                                        <ul>
                                            <li><a href="../../../../Frontends/travel_blog/travel_blog/index6.html">List layout + Sidebar</a></li>
                                            <li><a href="../../../../Frontends/travel_blog/travel_blog/index7.html">Full width + Sidebar</a></li>
                                            <li><a href="../../../../Frontends/travel_blog/travel_blog/index8.html">Masonry + Sidebar</a></li>
                                            <li><a href="../../../../Frontends/travel_blog/travel_blog/index9.html">Masonry Without Sidebar</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li><a href="../../../../Frontends/travel_blog/travel_blog/about.html">About</a></li>
                            <li>
                                <a href="404.html#">Posts</a>
                                <!--second level  -->
                                <ul>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/post-single.html">Slider</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/post-single2.html">Galley</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/post-single3.html">Video</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/post-single4.html">Image</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/post-single5.html">Music</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="404.html#">Category</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="404.html#">Travel</a></li>
                                    <li><a href="404.html#">Films</a></li>
                                    <li><a href="404.html#">Outdoor</a></li>
                                    <li><a href="404.html#">Photos</a></li>
                                    <li><a href="404.html#">Lifestyle</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="404.html#">Gallery</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/gallery.html">3 columns</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/gallery2.html">4 columns</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/gallery3.html">2 columns</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li><a href="../../../../Frontends/travel_blog/travel_blog/contact.html">Contact</a></li>
                            <li>
                                <a href="404.html#">Features</a>
                                <!--second level -->
                                <ul>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/header2.html">Header Light</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/header3.html">Header minimal</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/footer2.html">Footer light</a></li>
                                    <li><a href="../../../../Frontends/travel_blog/travel_blog/footer3.html">Footer minimal</a></li>
                                    <li><a href="404.html">404 page</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                    <div class="show-search show-fixed-search fl-right"><i class="fa fa-search"></i></div>
                    <!-- search widget end -->
                    <div class="sb-nav-button sh-hid-sb fl-right">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <!-- container  end  -->
        </header>
        <!-- top-bar  end  -->
        <div id="wrapper">
            <!-- hero wrap -->
            <div class="hero-wrap">
                <div class="hero-bg">
                    <div class="bg" data-bg="images/bg/12.jpg"></div>
                    <div class="overlay"></div>
                </div>
                <div class="hero-inner">
                    <div class="container">
                        <div class="logo-holder">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </div>
                        <div class="error-wrap fl-wrap">
                            <span class="er-num">404</span>
                            <p>The page you are looking for has not been found. <br> Try to searching something else</p>
                            <form class="searchform" method="get"  >
                                <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hero wrap end-->
        </div>
        <!--  Footer-->
        <footer class="footer-big">
            <div class="container">
                <div class="footer-widgets-holder">
                    <div class="footer-widgets">
                        <div class="footer-widget-inner fwinner">
                            <div class="quote-widget">
                                <h3>Quote widget</h3>
                                <p>" Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc. "</p>
                            </div>
                        </div>
                        <div class="footer-widget-inner">
                            <div class="footer-widget">
                                <h3>Recent   posts</h3>
                                <div class="recent-post-widget">
                                    <ul>
                                        <li>
                                            <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/1.jpg" alt=""></a></div>
                                            <div class="recent-post-content">
                                                <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                                <div class="recent-post-opt">
                                                    <span class="post-date">3 May 2016</span>
                                                    <a href="404.html#" class="post-comments">0 Comments</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/2.jpg" alt=""></a></div>
                                            <div class="recent-post-content">
                                                <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                                <div class="recent-post-opt">
                                                    <span class="post-date">3 May 2016</span>
                                                    <a href="404.html#" class="post-comments">0 Comments</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/3.jpg" alt=""></a></div>
                                            <div class="recent-post-content">
                                                <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                                <div class="recent-post-opt">
                                                    <span class="post-date">3 May 2016</span>
                                                    <a href="404.html#" class="post-comments">0 Comments</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-widget-inner">
                            <div class="footer-widget">
                                <h3>Last comments</h3>
                                <div class="comment-widget">
                                    <ul class="comm-list">
                                        <li>
                                            <span class="comm-date">17 may 2016</span>
                                            <p>At tincidunt erat hendrerit. Vestibulum ultrices ipsum id  </p>
                                            <div class="commnet-link">By Markus on  <a href="404.html#" class="comment-link">Post with slider</a> </div>
                                        </li>
                                        <li>
                                            <span class="comm-date">17 may 2016</span>
                                            <p>Tincidunt erat hendrerit. Vestibulum ultrices ipsum  </p>
                                            <div class="commnet-link">By Markus on  <a href="404.html#" class="comment-link">Post with slider</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-widget-inner">
                            <div class="footer-widget">
                                <h3>Our instagram</h3>
                                <div class='jr-insta-thumb'>
                                    <ul>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/3.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/4.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/5.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="404.html#"><img src="images/instagram/6.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <span>© Spring book 2016 .</span>			All rights reserved
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="sub-footer-social">
                                <li><a href="404.html#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                <li><a href="404.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="404.html#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                <li><a href="404.html#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="404.html#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--fixed-sidebar  -->
        <div class="fixed-sidebar dark-sidebar">
            <div class="close-sibedar-holder">
                <div class="close-sibedar"></div>
            </div>
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <form class="searchform" method="get" >
                    <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>About me</h3>
                <div class="sidebar-widget about-widget">
                    <img src="images/about-sb.jpg" alt="">
                    <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo .  </p>
                    <div class="signature"><img src="images/signature.png" alt=""></div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Subscribe</h3>
                <div class="sidebar-widget subscribe-widget">
                    <form   class="mc4wp-form" method="post">
                        <input type="email"   class="mc4wp_email" name="EMAIL" placeholder="Your email address" required>
                        <input type="submit" class="mc4wp_submit" value="Send">
                    </form>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Menu widget</h3>
                <div class="sidebar-widget">
                    <div id="hid-men">
                        <ul class="menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="../../../../Frontends/travel_blog/travel_blog/about.html">About</a></li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="404.html#">Pages</a>
                                <ul>
                                    <li><a href="404.html#">Lifystyle</a>(12)</li>
                                    <li><a href="404.html#">Outdoor</a>(22)</li>
                                    <li><a href="404.html#">Camping</a>(10)</li>
                                    <li><a href="404.html#">Travel</a>(4)</li>
                                    <li><a href="404.html#">Adventure</a>(5)</li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="404.html#">Category</a>
                                <ul>
                                    <li><a href="404.html#">Lifystyle</a>(12)</li>
                                    <li><a href="404.html#">Outdoor</a>(22)</li>
                                    <li><a href="404.html#">Camping</a>(10)</li>
                                    <li><a href="404.html#">Travel</a>(4)</li>
                                    <li><a href="404.html#">Adventure</a>(5)</li>
                                </ul>
                            </li>
                            <li><a href="index.html">Contact</a></li>
                            <li><a href="index.html">Features</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Recent Posts</h3>
                <div class="sidebar-widget resent-post-widget">
                    <div class="recent-post-widget">
                        <ul>
                            <li>
                                <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/1.jpg" alt=""></a></div>
                                <div class="recent-post-content">
                                    <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                    <div class="recent-post-opt">
                                        <span class="post-date">3 May 2016</span>
                                        <a href="404.html#" class="post-comments">0 Comments</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/2.jpg" alt=""></a></div>
                                <div class="recent-post-content">
                                    <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                    <div class="recent-post-opt">
                                        <span class="post-date">3 May 2016</span>
                                        <a href="404.html#" class="post-comments">0 Comments</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recent-post-img"><a href="404.html#"><img src="images/instagram/3.jpg" alt=""></a></div>
                                <div class="recent-post-content">
                                    <h4><a href="404.html#">Snowy Mountains Trip</a></h4>
                                    <div class="recent-post-opt">
                                        <span class="post-date">3 May 2016</span>
                                        <a href="404.html#" class="post-comments">0 Comments</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Resent tags </h3>
                <div class="sidebar-widget tags-widget">
                    <div class="tagcloud">
                        <a href="404.html#">Lifystyle</a>
                        <a href="404.html#">Travel</a>
                        <a href="404.html#">Trip</a>
                        <a href="404.html#">Outdoor</a>
                        <a href="404.html#">Camping</a>
                        <a href="404.html#">Photo</a>
                        <a href="404.html#">Adventure</a>
                    </div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Banner widget</h3>
                <div class="banner-widget">
                    <img src="images/banner.jpg" alt="">
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Categories</h3>
                <div class="sidebar-widget category-widget">
                    <ul class="cat-item">
                        <li><a href="404.html#">Lifystyle</a>(12)</li>
                        <li><a href="404.html#">Outdoor</a>(22)</li>
                        <li><a href="404.html#">Camping</a>(10)</li>
                        <li><a href="404.html#">Travel</a>(4)</li>
                        <li><a href="404.html#">Adventure</a>(5)</li>
                    </ul>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Our Instagram </h3>
                <div class="sidebar-widget instagram-widget">
                    <div class='jr-insta-thumb'>
                        <ul>
                            <li>
                                <a href="404.html#"><img src="images/instagram/1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="404.html#"><img src="images/instagram/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="404.html#"><img src="images/instagram/3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="404.html#"><img src="images/instagram/4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="404.html#"><img src="images/instagram/5.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="404.html#"><img src="images/instagram/6.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Last comments</h3>
                <div class="sidebar-widget">
                    <div class="comment-widget">
                        <ul class="comm-list">
                            <li>
                                <span class="comm-date">17 may 2016</span>
                                <p>At tincidunt erat hendrerit. Vestibulum ultrices ipsum id  </p>
                                <div class="commnet-link">By Markus on  <a href="404.html#" class="comment-link">Post with slider</a> </div>
                            </li>
                            <li>
                                <span class="comm-date">17 may 2016</span>
                                <p>Tincidunt erat hendrerit. Vestibulum ultrices ipsum  </p>
                                <div class="commnet-link">By Markus on  <a href="404.html#" class="comment-link">Post with slider</a> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <!--fixed-sidebar-widget -->
            <div class="fixed-sidebar-widget">
                <h3>Social widget</h3>
                <div class="sidebar-widget social-widget">
                    <ul>
                        <li><a href="404.html#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="404.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="404.html#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="404.html#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="404.html#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--fixed-sidebar-widget end  -->
            <div class="sb-to-top-holder">
                <div class="sb-to-top"><i class="fa fa-angle-double-up"></i></div>
            </div>
        </div>
        <div class="search-form-holder fixed-search">
            <div class="search-form-bg"></div>
            <div class="search-form-wrap">
                <div class="container">
                    <form class="searchform" method="get"  >
                        <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                    </form>
                    <div class="close-fixed-search"></div>
                </div>
                <div class="dublicated-text"></div>
            </div>
        </div>
        <!--fixed-sidebar  end-->
        <div class="sb-overlay"></div>
        <!--to top    -->
        <div class="to-top">
            <i class="fa fa-angle-double-up"></i>
        </div>
        <!-- to top  end -->
        <div class="fixed-icons">
            <ul>
                <li><a href="../../../../Frontends/travel_blog/travel_blog/contact.html"><i class="fa fa-envelope-o"></i></a><span>Write me</span></li>
                <li><a href="../../../../Frontends/travel_blog/travel_blog/contact.html"><i class="fa fa-shopping-cart"></i></a><span>Purchase Theme</span></li>
            </ul>
        </div>
    </div>
    <!--Main  end -->
</body>
{% endblock %}
