{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="clearfix"></div>
<div class="container">
    <!--Category bar holder-->
    {% include "partials/category-navigation.html" %}
    <!--End category bar holder-->

    <div class="article-holder">
        <!-- article-wrap-->
        <div class="article-wrap  col-wrap">
            <!-- article-holder -->
            <article class="single-article">
                <!--  article title -->
                <h2 class="single-article-title fl-wrap"> <a href="about.html#">About me</a></h2>
                <!--  article titleend -->
                <div class="clearfix"></div>
                <div class="separator img-separator    "><img src="{% static 'images/sep-blk.png' %}" alt=""></div>
                <!--  blog media-->
                <div class="blog-media">
                    <img src="{% static 'images/bg/3.jpg' %}" class="respimg" alt="">
                </div>
                <!--  blog media end -->
                <div class=" fl-wrap">
                    <h3 align="left"> Hello, my name is  Matthew  Kowalsky.</h3>
                    <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor . Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
                    <blockquote>
                        <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                    </blockquote>
                    <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor . Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                    <div class="signature"><img src="{% static 'images/signature2.png' %}" alt=""></div>
                </div>
            </article>
            <!-- article end -->
        </div>
        <!-- article-wrap end -->

        <!--main-sidebar-->
        {% include "partials/main-sidebar.html" %}
        <!-- main-sidebar end-->
    </div>
</div>
{% endblock %}
