{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h3 class="single-article-title fl-wrap"><a>Login</a></h3>
<div class="separator img-separator"><img src="{% static 'images/sep-blk.png' %}"  alt=""></div>

<div  class="container">
    <div>
        {% if form.errors %}
            <p style="color:red;">Invalid email or password</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="hidden" name="next" value="{{ next|default:'/dashboard' }}">

            <div style="display: flex; gap: 10px; justify-content: center; margin-top: 10px;">
            <button type="submit" class="wpcf7-submit">Login</button>
                <button type="button" class="wpcf7-submit" onclick="location.href='/register/'">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
