{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!--Category bar holder-->
    {% include "partials/category-navigation.html" %}
    <!--End category bar holder-->

    <div class="article-holder">
        <!--article-wrap-->
        <div class="article-wrap col-wrap">
            <h3 class="big-title"> Featured Post </h3>
            <div class="separator img-separator"><img src="{% static 'images/sep-blk.png' %}" alt=""></div>
            <!-- article  -->
            <article class="new-article">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-media">
                            <img src="{% static 'images/article/big/2.jpg' %}" class="respimg" alt="">
                            <div class="overlay"></div>
                        </div>
                        <div class="fp-desc">
                            <span class="post-date">24 may 2016</span>
                            <h2><a href="post-single.html">Phasellus egestas interdum pulvinar. <br> Aenean tincidunt.</a></h2>
                            <ul>
                                <li><a href="index6.html#">Travel</a></li>
                                <li><a href="index6.html#">Trip</a></li>
                                <li><a href="index6.html#">Lifystyle</a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue... </p>
                        </div>
                        <ul class="post-counter">
                            <li><i class="fa fa-heart-o" aria-hidden="true"></i> <span>153</span></li>
                            <li><i class="fa fa-eye" aria-hidden="true"></i><span>687</span></li>
                            <li><i class="fa fa-comment-o" aria-hidden="true"></i><span>10</span></li>
                        </ul>
                    </div>
        <!-- article end -->
                </div>
            </article>

            {% if tag %}
                <h3 class="big-title"> Posts wit tags: "{{ tag.name }}" </h3>
                <div class="separator img-separator"><img src="{% static 'images/sep-blk.png' %}" alt=""></div>
            {% else %}
                <div class="separator img-separator"><img src="{% static 'images/sep-blk.png' %}" alt=""></div>
                <h3 class="big-title"> All posts </h3>
            {% endif %}

            <div class="row list-sb-holder">
                {% for post in posts %}
                <div class="col-md-12 grid-sb-wrap">
                    <article class="grid-sb">
                        <div class="blog-media">
                            <img src="{{ post.images.first.image.url }}" class="respimg" alt="">
                            <div class="overlay"></div>
                            <a href="{{ post.get_absolute_url }}" class="dec-link">Read Article</a>
                        </div>
                        <div class="list-item">
                            <ul class="cat-list">
                                <li><a href="index6.html#">{{ post.published_date|date:"d M Y" }}</a></li>
                                <li><a href="index6.html#">{{ post.author.nickname }}</a></li>
                            </ul>
                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                            <p>{{ post.content|truncatewords:30 }}</p>
                            <a href="{{ post.get_absolute_url }}" class="post-link">Read More</a>
                            <ul class="post-counter">
                                <li><i class="fa fa-heart-o" aria-hidden="true"></i> <span>153</span></li>
                                <li><i class="fa fa-eye" aria-hidden="true"></i><span>687</span></li>
                                <li><i class="fa fa-comment-o" aria-hidden="true"></i><span>10</span></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <!-- article end -->
                {% empty %}
                    <li>There is no posts yet.</li>
                {% endfor %}

                <div class="pagination fl-wrap">
                    <div class="older"><a href="index6.html#">Older Posts <i class="fa fa-angle-double-right"></i></a></div>
                    <div class="newer"></div>
                </div>
            </div>
        </div>
        <!-- article-wrap end -->

        <!--main-sidebar-->
        {% include "partials/main-sidebar.html" %}
        <!-- main-sidebar end-->
    </div>
</div>

{% endblock %}
