{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<h3>Welcome, {{ user.profile.nickname }}!</h3>
<div class="separator img-separator"><img src="/static/images/sep-blk.png" alt=""></div>
<div class="container">
<div class="post-author">
    <div class="post-author-wrap">
        <div class="post-author-img">
            <img src="{{ user.profile.get_avatar_url }}" alt="Avatar">
        </div>
        <span>Email: {{ user.email }}</span>
        <h3><a href="post-single.html#">{{ user.profile.nickname }}</a></h3>
        <p>{% with fname=user.profile.first_name|default_if_none:"" lname=user.profile.last_name|default_if_none:"" %}
            {% if fname or lname %}
                <p>{{ fname }} {{ lname }}</p>
                {% endif %}
            {% endwith %}
        </p>
        <ul>
            <p class="mc4wp_submit">
                <button type="button" class="submit" onclick="window.location.href='{% url 'edit-profile' %}'">
                    Edit Profile
                </button>
            </p>
        </ul>
    </div>
</div>

  {% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </form>
</div>
{% endif %}

{% endblock %}
