{% extends "base.html" %}
{% load static %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<h2>Edit profile</h2>

<div class="separator img-separator"><img src="/static/images/sep-blk.png" alt=""></div>
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      {{ form.nickname.label_tag }}
      {{ form.nickname }}
      {{ form.nickname.errors }}
    </p>
    <p>
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </p>
    <p>
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </p>
    <p>
      {{ form.date_of_birth.label_tag }}
      {{ form.date_of_birth }}
      {{ form.date_of_birth.errors }}
    </p>
    <p>
      {{ form.avatar.label_tag }}

      {% if form.instance.avatar %}
        <img src="{{ form.instance.avatar.url }}" alt="Current avatar"
             style="max-height: 150px; display: block; margin-bottom: 10px;">
      {% endif %}

      {{ form.avatar }}
      {{ form.avatar.errors }}
    </p>
    <button type="submit">Save changes</button>
  </form>

</div>
{% endblock %}
